.statisticsContainer {
    max-width: 50%;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0.5rem;
}

.title {
    margin: 0;
    padding: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #8a8b8e;
    font-weight: bold;
    font-size: 34px ;
    border-bottom: 1px solid #d3d5e3;
}

.statList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0;
    padding: 0;
    list-style: none;
}

.statList>.statListItem,
.statList>.statListItemNoTitle {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-shadow: 0 0 3px #000;
}

.statListItem:first-child {
    border-radius: 0 0 0 8px;
}

.statListItem:last-child {
    border-radius: 0 0 8px;
}

.statListItemNoTitle:first-child {
    border-radius: 8px 0 0 8px;
}

.statListItemNoTitle:last-child {
    border-radius: 0 8px 8px 0;
}

.label {
    padding-top: 20px;
    font-size: 20px;
    color: #fff;
}

.percentage {
    padding: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}